*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    line-height: normal;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 1165px;
    margin: 0px auto;
}
